h1,
h2 {
	font-family: sans-serif;
}

table.ny {
	background-color: #FFFFCC;
	border-top: 1px solid #003300;
	border-left: 1px solid #003300;
	border-right: 2px solid #003300;
	border-bottom: 2px solid #003300;
	max-width: 600px;
}

td {
	font-size: 16px;
}

td>a {
	font-size: 16px;
}

img {
	max-width: 600px;
	height: auto;
	margin-top: 30px;
}

.in_span {
	margin-bottom: 50px;
	font-style: italic;
	font-size: 20px;
	margin-bottom: 20px;
}

.in_span>a {
	font-size: 20px;
}

.mitten_local {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 30px;
	/*
	background-color: #DCDCDC;
	border-style: solid;
	border-width: 2px;
	border-color: #696969;
	border-radius: 6px;
  */
}

.os {
	background-color: #FFFFCC;
	;
	display: flex;
	justify-content: center;
	font-style: normal;
	margin-bottom: 10px;
	font-size: 20px;
	max-width: 600px;
	margin-top: 20px;
}

code {
	font-family: monospace;
	font-style: normal;
}
